/*font face: tikal sans*/

@font-face {
	font-family: Tikal Sans;
	src: url(tikalsans_medium_macroman/TikalSans-Medium-webfont.eot);
	src: url('TikalSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('TikalSans-Medium-webfont.woff') format('woff'),
	     url('TikalSans-Medium-webfont.ttf') format('truetype'),
	     url('TikalSans-Medium-webfont.svg#webfont') format('svg');
}

/*font face: PT Serif*/

@font-face {
	font-family: PT Serif;
	src: url(PTZ55F.ttf) format('truetype')
}

/*font face: Caviar Dreams*/

@font-face {
	font-family: Caviar Dreams;
	src: url(CaviarDreams.ttf) format('truetype');
}

/*navbar styling*/

body {
	font-family: PT Serif;
}

#container {
	width: full;
	height: 50px;
	background: #464747 url(http://puu.sh/hoOnc/39478704e8.png);
	line-height: 47px;
	margin-top: -12px;
	margin-left: -12px;
	margin-right: -12px;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

/*navbar text styling*/

.tabs {
	padding: 35px;
	text-align: center;
	display: inline;
	vertical-align: middle;
	margin: 20px;
	color: #CFCFCF;
	font-size: 1.2em;
	font-family: PT Serif, Arial, sans-serif;
	text-decoration: none;
}

a {
	text-decoration: none;
}

div div span:hover {
	color: #747474;
	cursor: pointer;
}

/*header styling*/

#intro {
	z-index: 1;
	text-align: center;
	padding-top: 10px;
	font-family: PT Serif, Arial, sans-serif;
}

#intro h1 {
	font-weight: lighter;
}

#intro .bg {
	background-image: url(bg.jpg);
	margin-left: -12px;
	margin-right: -12px;
	margin-top: -12px;
}

#intro .lipsum {
	display: block;
	margin: 10px 100px 20px 100px;
}

#intro .darkbar {
	width: full;
	margin-right: -15px;
	margin-left: -15px;
	height: 300px;
	background: #464747 url(http://puu.sh/hoOnc/39478704e8.png);
	margin-top: -33px;
}

#intro .darkbar h1 {
	color: #FFFFFF;
	padding-top: 36px;
	font-size: 40px;
}

#intro .darkbar p {
	color: #FFFFFF;
	display: block;
	margin-right: 30px;
	margin-left: 30px;
}

/*page background color*/

html {
	background-color: #CFCFCF
}

/*navbar equidistant spacing: thanks to lrktigh on stackoverflow for help */

.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 150px; /*change spacing between navbar items*/
    height: 50px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
}

.box6 {
	width: 15px; /*change logo spacing*/
}

.box6 {
	background-image: url(logo2 copy.png);
}

.box6:hover {
	background-image: url(logodark.png);
}

/*navbar conditional styling*/

#container:after {
    content: "";
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/*footer styling*/

#footer {
	height: 129px;
	width: full;
	padding-top: 50px;
	background: #464747 url(http://puu.sh/hoOnc/39478704e8.png);
	margin-right: -12px;
	margin-left: -12px;
	overflow: hidden;
	margin-bottom: -100px;
	position: relative;
	min-height: 100%;
}

/*footer text and copyright*/

#footer .credits {
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-family: PT Serif, Serif;
	font-size: 14px;
	padding-bottom: 0px;
	margin-bottom: -5px;
	margin-top: -5px;
}

#footer .copyright {
	color: #747474;
	text-align: center;
	vertical-align: middle;
	font-family: PT Serif, Serif;
	font-size: 10px;
	margin-bottom: 0px;
}

#footer #realcredits {
	font-size: 9px;
}

/*Table Styling for Info page*/

.imagetablehead {
	border-bottom: 3px solid #464747;
	text-align: center;
					
}

/*Table Image Styling for Info page*/

.imagetablebody {
	height: 305px;
	width: 305px;
}

/*Pull Down Menu Text Styling for Info page*/

.pulldownmenu:hover {
	color: #747474;
}

/*table styling*/

table caption {
	font-family: PT Serif;
}	

#harold {
	height: 305px;
	width: 305px;
	border: 1px solid #464747;
	
}
